<% layout('layouts/boilerplate')%>

<main class="px-3">
    <h1>SeniorCounsel</h1>
    <p class="lead"> Welcome to SeniorCounsel! <br> Jump right in and explore various fields.<br>
        Feel free to contact your Advisor for guidance if you are an Advisee.</p>
</main>